body {
  margin: 0;
  background-color: rgb(196, 164, 132);
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(130, 99, 68);
  border-radius: 10px;
  margin: 20px;
}
#titleSection{
  align-items: center;
  justify-content: center;
  background-color: rgba(130, 99, 68, 0);
}
.title{
  align-items: center;
}
#dadLaughingImg{
  width: 20%;
  height: 20%;
}
#loginArea{
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;

}
button {
  font-size: 2em;
  background-color: rgb(176, 132, 88);
  color: white;
  border-color: rgb(85, 65, 45);
  border-width: 7px;
  border-radius: 10px;
}
.button {
  font-size: 2em;
  background-color: rgb(176, 132, 88);
  color: white;
  border-color: rgb(85, 65, 45);
  border-width: 7px;
  border-radius: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
}
input {
  font-size: 2em;
  background-color: rgb(176, 132, 88);
  color: white;
  border-color: rgb(85, 65, 45);
  border-width: 7px;
  border-radius: 10px;
}
.likeButton{
  visibility: hidden;
}
.auth {
  margin: 10px;
}
button:hover {
  background-color: rgb(151, 109, 68);
  color: white;
}
.button:hover {
  background-color: rgb(151, 109, 68);
  color: white;
}
#title {
  color: rgb(246, 234, 58);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  text-decoration-style: double;
  padding: 0px 0px 0px 10px;
}
#recentJokesTitle {
  color: rgb(216, 205, 54);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  text-decoration-style: double;
  padding: 0px 0px 0px 10px;
}
#individualJoke {
  flex-direction: column;
  background-color: rgb(124, 89, 54);
}
#jokeArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
}
#individualJokeAuthandDate {
  flex-direction: row;
  justify-content: space-between;
}
#jokeDetails {
  flex-direction: row;
}
.jokeDetails {
  color: rgb(246, 234, 58);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  text-decoration-style: double;
  padding: 0px 0px 0px 10px;
}
#date {
    color: rgb(215, 184, 137);
}
#author {
    color: rgb(215, 184, 137);
}
#instructions {
  color: rgb(246, 234, 58);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  text-decoration-style: double;
  padding: 0px 0px 0px 10px;
}






.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}


/* ---RESPONSIVE STUFF--- */

/* tablet */
@media screen and (max-width: 900px) {
  .section{
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(130, 99, 68);
    border-radius: 10px;
    margin: 20px;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  #buttonElement, .profileJokeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .profileJokeForm {
    max-width: 100%;
  }
}
